In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.context import SparkContext
from pyspark import SparkContext
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder.appName("Semana12_2").getOrCreate()
sc = spark.sparkContext

In [4]:
data1 = [
    ("Juan", "Tecnología"),
    ("Maria", "Arte"),
    ("Pedro", "Deportes"),
    ("Ana", "Ciencia"),
    ("Carlos", "Ciencia"),
    ("Luisa", "Tecnología")
]

data2 = [
    ("Miguel", "Tecnología"),
    ("Sandra", "Deportes"),
    ("Juan", "Arte"),
    ("Ana", "Deportes"),
    ("Carlos", "Arte")
]

# Crear los RDDs
rdd1 = sc.parallelize(data1)
rdd2 = sc.parallelize(data2)

**SAMPLE**

In [15]:
rdd_sample = rdd1.sample(withReplacement=False, fraction=0.5, seed=42)
print("Sample (muestra aleatoria del 50% de rdd1):")
print(rdd_sample.collect())

Sample (muestra aleatoria del 50% de rdd1):
[('Juan', 'Tecnología'), ('Maria', 'Arte')]

**ReduceByKey**

In [8]:

rdd_interes = rdd1.map(lambda x: (x[1], 1))


conteo_interes = rdd_interes.reduceByKey(lambda a, b: a + b)
print("ReduceByKey (conteo de personas por interés):")
print(conteo_interes.collect())

ReduceByKey (conteo de personas por interés):
[('Tecnología', 2), ('Deportes', 1), ('Ciencia', 2), ('Arte', 1)]

**FILTER**

In [11]:
rdd_filtrado = rdd1.filter(lambda x: x[1] == "Tecnología")
print("Filter (personas interesadas en 'Tecnología'):")
print(rdd_filtrado.collect())

Filter (personas interesadas en 'Tecnología'):
[('Juan', 'Tecnología'), ('Luisa', 'Tecnología')]