In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.context import SparkContext
from pyspark import SparkContext
from pyspark.sql import *
from pyspark.sql.functions import *

In [3]:
spark1=SparkSession.builder.appName("Semana12").getOrCreate()

In [4]:
sc=spark1.sparkContext

In [5]:

data = [
    ("Juan", 25, "Ingeniería"),
    ("Maria", 30, "Matemáticas"),
    ("Pedro", 28, "Física"),
    ("Ana", 22, "Química"),
    ("Carlos", 35, "Historia"),
    ("Luisa", 27, "Ingeniería"),
    ("Elena", 31, "Matemáticas"),
    ("Andrés", 26, "Física")
]

In [8]:
data

[('Juan', 25, 'Ingeniería'),
 ('Maria', 30, 'Matemáticas'),
 ('Pedro', 28, 'Física'),
 ('Ana', 22, 'Química'),
 ('Carlos', 35, 'Historia'),
 ('Luisa', 27, 'Ingeniería'),
 ('Elena', 31, 'Matemáticas'),
 ('Andrés', 26, 'Física')]

In [6]:
rdd = sc.parallelize(data)

In [15]:


data_extra = [
    ("Miguel", 29, "Biología"),
    ("Sandra", 24, "Química")
]

rdd_extra = sc.parallelize(data_extra)
rdd_union = rdd.union(rdd_extra)
print(rdd_union.collect())

[('Juan', 25, 'Ingeniería'), ('Maria', 30, 'Matemáticas'), ('Pedro', 28, 'Física'), ('Ana', 22, 'Química'), ('Carlos', 35, 'Historia'), ('Luisa', 27, 'Ingeniería'), ('Elena', 31, 'Matemáticas'), ('Andrés', 26, 'Física'), ('Miguel', 29, 'Biología'), ('Sandra', 24, 'Química')]

In [16]:
rdd_departamento = rdd.map(lambda x: (x[2], x[1]))
agrupado_por_departamento = rdd_departamento.groupByKey().mapValues(list)
print(agrupado_por_departamento.collect())

[('Matemáticas', [30, 31]), ('Física', [28, 26]), ('Historia', [35]), ('Ingeniería', [25, 27]), ('Química', [22])]

In [18]:
rdd_ordenado = rdd_departamento.sortByKey()
print(rdd_ordenado.collect())

[('Física', 28), ('Física', 26), ('Historia', 35), ('Ingeniería', 25), ('Ingeniería', 27), ('Matemáticas', 30), ('Matemáticas', 31), ('Química', 22)]